.card {
    font-size: 90px;
    height: 140px;
    border: 3px solid blue;
    border-radius: 10px;
    display: flex;
    width: 120px;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-value{
    margin-bottom: 10px;
}
.card-suit{
    font-size: 60px;
}
.buttons{
    margin: 20px;
}
button{
    font-size: 12px;
    padding: 10px 20px; 
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background 0.3s;
}
button:hover{
    background-color: #2980b9;
}
#score, #cards-left{
    margin-top: 10px;
    font-size: 20px;
}

.game{
    max-width: 350px;
    margin: auto;
}
#message{
    margin-top: 10px;
    font-size: 16px;
}
.card img{
    width: 100px;
    height: auto;
    filter: drop-shadow(0 0 4px #000);
}